{% extends "commonbaseadmin.html" %}
{% block content2 %}





<style>
    h3,fieldset{padding: 10px;
    color:white}
</style>
<h1 align="center" class="bg-light"><u>CODERS</u></h1>
<div class="w3-services-grids py-lg-4 text-center" style="padding: 20px;">
    <div class="fea-gd-vv row">
        {% for d in data %}
        <div class="col-lg-4 col-md-7" style="margin-bottom: 30px">
            <div class="feature-gd icon-yellow">
                <div class="icon">
                    <i
                        ><img
                            src="../static/media/{{d.profile}}"
                            style="
                                height: 200px;
                                width: 200px;
                                padding-right: 26px;
                                padding-bottom: 5px;
                                
                            "
                    /></i>
                </div>
                <div class="info" style="margin-top: 50px">
                    <h3>{{d.name}}</h3>
                    <h3>{{d.address}}</h3>
                    <h3>{{d.skills}}</h3>
                    <h3><a href="../static/media/{{d.qualification}}"><input
                        type="button"
                        name="submit"
                        value="Document"
                        class="btn btn-primary"
                /></a></h3>
                    
                    <ul>
                        <li class="cary-li-w3-agileits">
                            <div class="snipcart-details top_brand_home_details">
                                <form action="#" method="post">
                                   
                                    <fieldset>
                                        <a href="/adminapprove?id={{d.id}}"
                                            ><input
                                                type="button"
                                                name="submit"
                                                value="Approve"
                                                class="btn btn-primary"
                                        /></a>
                                    </fieldset>
                                 
                                    <fieldset>
                                        <a href="/removecoder?id={{d.id}}"
                                            ><input
                                                type="button"
                                                name="submit"
                                                value="REMOVE"
                                                class="btn btn-primary"
                                        /></a>
                                    </fieldset>
                                    <fieldset>
                                        <a href="/adminvfeedback?id={{d.id}}"
                                            ><input
                                                type="button"
                                                name="submit"
                                                value="Details"
                                                class="btn btn-primary"
                                        /></a>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}