{% extends "commonbasecoder.html" %}
{% block content3 %}





<style>
    th,td{
        padding: 10px;
        color:rgb(0, 0, 0);
        font-size: large;
    }
    th{
        background-color:rgb(0, 0, 0);
        color: white;
    }
    table{
        margin-bottom: -50px;
    }
    </style>
    <div style="margin: 50px;background-color: rgb(171, 212, 248);border-radius: 1em; opacity: 87%;">
        <h1 style="margin: 10px; color:rgb(0, 0, 0)">Biddings</h1>
        <table border="1" style="margin-top: 40px;margin-left: 80px;">
        <tr>
            <th>BUYER NAME</th>
            
            <th>EMAIL</th>
            <th>CONTACT</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>DUE DATE</th>
            <th>SYNOPSIS</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
          
         
            {% comment %} <th colspan="2">ACTION</th> {% endcomment %}
        </tr>
    
   {% for d in data %}
      <tr>

        <td>{{d.buid.name}}</td>
       
        <td>{{d.buid.email}}</td>
        <td>{{d.buid.contact}}</td>
        <td>{{d.rid.title}}</td>
        <td>{{d.rid.desc}}</td>
        <td>{{d.duedate}}</td>

   <td><a href="../static{{d.10}}" download><img src="../static/media/{{d.rid.rfile}}" download="../static{{d.10}}" height="200px" width="200px"></a></td> 
   <td>{{d.amt}}</td> 
   <td>{{d.status}}</td>  
   {% comment %}      <td><a href="../static{{d.9}}" download><img src="../static{{d.9}}" download="../static{{d.9}}" height="200px" width="200px"></a></td> 
   {% endcomment %}
             
           
         
                {% comment %} <td><a href="/adminupdatebuyer?uemail={{d.3}}&&status=1" style="color:green">Approve</a></td>
             <td><a href="/adminupdatecust?uemail={{d.3}}&&status=-1" style="color:red">Reject</a></td> {% endcomment %}
    
    </tr>
      {% endfor %}
  
        </table>
    </div>


    </div>








{% endblock %}